<div class="jumbotron pink">
  <h1>Blocitoff</h1>
  
  <h3>Welcome to Blocitoff, a useful to-do list application for the unorganized techie!</h3>
    <p>Blocitoff is dedicated to those procrastinators who don't use a pen and pencil and need an app to get things done.</p>
    <p>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
    <p><strong>If you are looking at this page then you probably need Blocitoff so sing up now!</p>
</div>